[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
        url = https://github.com/tpope/vim-pathogen.git
        ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
        ignore = dirty
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
        ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
        ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
        ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
        ignore = dirty
[submodule "bundle/php-foldexpr"]
	path = bundle/php-foldexpr
	url = git://github.com/swekaj/php-foldexpr.vim
        ignore = dirty
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/PreserveNoEOL"]
	path = bundle/PreserveNoEOL
	url = https://github.com/vim-scripts/PreserveNoEOL
[submodule "/Users/liamwall/.vim/bundle/vim-javascript"]
	path = /Users/liamwall/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
